.ant-layout-footer {
    text-align: center;
    font-size: 1rem !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 5rem;
}
.ant-layout-content {
    position: absolute;
    top: 0;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 25rem;
    background-color: #fff;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.04);
}

.addSec {
    box-sizing: border-box;
    position: relative;
}
.drag-placeholder {
    height: 10rem;
    background: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.drag-placeholder::after {
    content: "";
    position: absolute;
    top: 0.75rem;
    bottom: 0.75rem;
    left: 0.75rem;
    right: 0.75rem;
    border: 1px dashed #111; 
    border-radius: 0.25rem;
}