.left-tab {
    position: absolute;
    left: 0;
    top: 4rem;
    bottom: 0;
    padding: 2rem 0 0 2rem;
    width: 35%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.right-content {
    position: absolute;
    right: 0;
    top: 4rem;
    bottom: 0;
    width: 65%;
    height: 100%;
    background: #f5f5f7;
    border: 1px solid rgb(235, 237, 240);
    border-top: 0;
}